USE [SKSNationalBank]
GO
/****** Object:  StoredProcedure [dbo].[GetBankPerformanceDashboard]    Script Date: 2025-10-28 10:12:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[GetBankPerformanceDashboard]
AS
BEGIN
    SELECT 
        o.OfficeID,
        o.Name AS BranchName,
        COUNT(DISTINCT a.AccountID) AS TotalAccounts,
        SUM(a.Balance) AS TotalDeposits,
        COUNT(DISTINCT l.LoanID) AS TotalLoans,
        SUM(l.LoanAmount) AS TotalLoanAmount,
        CAST(
            CASE 
                WHEN SUM(a.Balance) = 0 THEN NULL
                ELSE (SUM(l.LoanAmount) / SUM(a.Balance)) * 100
            END AS DECIMAL(10,2)
        ) AS 'LDR (%)' --Loan to deposit ratio as a percentage
    FROM Office o
    LEFT JOIN Account a 
        ON o.OfficeID = a.OfficeID
    LEFT JOIN Loan l 
        ON o.OfficeID = l.OfficeID
    WHERE o.IsBranch = 1
    GROUP BY o.OfficeID, o.Name
    ORDER BY o.OfficeID;
END;
