USE [SKSNationalBank]
GO
/****** Object:  StoredProcedure [dbo].[GetEmployeeSummary]    Script Date: 2025-10-28 2:07:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[GetEmployeeSummary]
    @BranchID INT = NULL   -- optional: NULL = all branches, or pass a specific branch
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        e.EmployeeID,
        e.LastName + ', ' + e.FirstName AS EmployeeName,
        STRING_AGG(o.Name, ', ') AS BranchesWorkedAt,       -- list of all branches for that employee
        COUNT(DISTINCT ce.CustomerID) AS CustomersServed    -- number of customers associated with them
    FROM Employee e
    INNER JOIN EmployeeOffice eo ON e.EmployeeID = eo.EmployeeID
    INNER JOIN Office o ON eo.OfficeID = o.OfficeID
    LEFT JOIN CustomerEmployee ce ON e.EmployeeID = ce.EmployeeID
    WHERE 
        o.IsBranch = 1
        AND (@BranchID IS NULL OR o.OfficeID = @BranchID)
    GROUP BY 
        e.EmployeeID, e.LastName, e.FirstName
    ORDER BY 
        CustomersServed DESC, EmployeeName;
END;
