USE [SKSNationalBank]
GO
/****** Object:  StoredProcedure [dbo].[GetEmployeeCustomerSummary]    Script Date: 2025-10-28 1:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[GetEmployeeCustomerSummary]
    @BranchID INT = NULL,     -- Optional: NULL = all branches, or pass a specific branch OfficeID
    @OfficeID INT = NULL      -- Optional: look up employees for a specific office instead
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH EmployeeBranch AS (
        SELECT e.EmployeeID, e.FirstName, e.LastName, o.OfficeID, o.Name AS BranchName
        FROM Employee e
        INNER JOIN EmployeeOffice eo ON e.EmployeeID = eo.EmployeeID
        INNER JOIN Office o ON eo.OfficeID = o.OfficeID
        WHERE o.IsBranch = 1
    ),
    CustomerStats AS (
        SELECT 
            ce.EmployeeID,
            COUNT(DISTINCT ce.CustomerID) AS CustomersServed
        FROM CustomerEmployee ce
        GROUP BY ce.EmployeeID
    ),
    SharedCustomers AS (
        SELECT 
            ce1.EmployeeID,
            COUNT(DISTINCT ce1.CustomerID) AS SharedCustomers
        FROM CustomerEmployee ce1
        INNER JOIN CustomerEmployee ce2
            ON ce1.CustomerID = ce2.CustomerID
            AND ce1.EmployeeID <> ce2.EmployeeID
        GROUP BY ce1.EmployeeID
    )

    SELECT 
        eb.OfficeID,
        eb.BranchName,
        eb.EmployeeID,
        eb.LastName + ', ' + eb.FirstName AS EmployeeName,
        ISNULL(cs.CustomersServed, 0) AS CustomersServed,
        ISNULL(sc.SharedCustomers, 0) AS SharedCustomers,
        (ISNULL(cs.CustomersServed, 0) - ISNULL(sc.SharedCustomers, 0)) AS IndependentCustomers
    FROM EmployeeBranch eb
    LEFT JOIN CustomerStats cs ON eb.EmployeeID = cs.EmployeeID
    LEFT JOIN SharedCustomers sc ON eb.EmployeeID = sc.EmployeeID
    WHERE 
        (@BranchID IS NULL OR eb.OfficeID = @BranchID)
        AND (@OfficeID IS NULL OR eb.OfficeID = @OfficeID)
    ORDER BY 
        eb.BranchName,
        ISNULL(cs.CustomersServed, 0) DESC,
        eb.LastName, eb.FirstName;
END;
